fastapi
uvicorn[standard]
python-multipart
jinja2
bibtexparser
scikit-learn
scipy
sentence-transformers
torch==2.4.1+cpu --index-url https://download.pytorch.org/whl/cpu
matplotlib
pandas
wordcloud
plotly
pycountry
fpdf2
kaleido
